*.pyc
*.pyc
*.pyo
*.pyd
__pycache__/

*.swp
*.bak

venv/

.env

instance/site.db
instance/site.sqlite
instance/site.sqlite3
instance/site.sqlite3-journal
instance/site.sqlite-journal

.vscode/

*.log

/static/uploads
/static/uploads/*
/static/profile_pics
/static/profile_pics/*
/static/images
/static/images/*

migrations/
migrations/*
migrations/versions/*


app.instance
app.instance.*
   